{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Details Start ***** -->
        <div class="game-details">
          <div class="row">
            <!-- <div class="col-lg-12">
              <h2>About</h2>
            </div> -->
            <div class="col-lg-12">
              <div class="content">
                <div class="row">
                  
                  <div class="col-lg-12">
                    <span style="color: white;">About</span>
                    <p>Music Key Finder is an innovative application designed to assist musicians, producers, and music enthusiasts in analyzing audio files to determine their musical keys and correlations. This tool leverages advanced audio processing techniques to accurately identify the key of a song or melody, providing insights that can help in composition, remixing, or educational purposes.
                    </p><br>
                        <span style="color: white;">Purpose and Vision</span>
                        <p>The vision behind Music Key Finder is to simplify the process of musical key detection, a task often performed manually or through expensive and complex software. By making this tool accessible, the project aims to empower users with an intuitive interface and accurate results, whether they're professionals in the studio or hobbyists exploring music theory.</p>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Details End ***** -->

        
      </div>
    </div>
  </div>

  {% endblock %}